---
Checks: "
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  cert-*,
  cppcoreguidelines-*,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-magic-numbers,
  -readability-identifier-length,
  -misc-non-private-member-variables-in-classes,
  -cert-dcl59-cpp,
  -cert-flp30-c,
  -clang-analyzer-security.FloatLoopCounter,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -clang-diagnostic-unused-variable,
  -clang-diagnostic-unused-but-set-variable,
" # The unused variable check is not working with doctest

WarningsAsErrors:       '*'
HeaderFilterRegex:      'src/cpp/.*'
AnalyzeTemporaryDtors:  false
UseColor:               true
FormatStyle:            none
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '150' # TODO decrease to 25 when the database class is refactored
  - key:   cppcoreguidelines-macro-usage.AllowedRegexp
    value: 'eigen_assert'
  - key:   modernize-use-override.IgnoreDestructors
    value: true
  - key:   cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: true
...
