# Ignore all the backup file
*~

# Ignore python byte-compiled libraries
*.pyc

# Mac specific files
._*
.DS_Store
.AppleDouble
.LSOverride

# VSCode specific files
.vscode/

# Ignore files resulting from executing a jupyter notebook
/doc/sphinx/examples_python/.ipynb_checkpoints
/doc/sphinx/examples_python/cache

# Ignore build and cache directories
bin/
__pycache__/
obj/
build/
.ruff_cache/
vcpkg_installed/
.venv/
