# Ignore all the backup file
*~

# Ignore python byte-compiled libraries
*.pyc

# Mac specific files
._*
.DS_Store
.AppleDouble
.LSOverride

# VSCode specific files
.vscode/

# Ignore build and cache directories
bin/
__pycache__/
obj/
build*/
.ruff_cache/
vcpkg_installed/
.venv/
*.egg-info/
requirements.txt
wheelhouse/
