[submodule "trunk/wignerSymbols"]
	path = pyinteraction/wignerSymbols
	url = https://github.com/sebastianweber/wignerSymbols.git
[submodule "gui/pyqtgraph"]
	path = gui/pyqtgraph
	url = https://github.com/pyqtgraph/pyqtgraph
