repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '^.*\.json$'
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=600"]
      - id: check-merge-conflict

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: ["-i", "--style=file"]

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: ["--first-comment-is-literal"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
      - id: ruff-format

  - repo: https://github.com/PyCQA/doc8
    rev: 'v1.1.2'
    hooks:
      - id: doc8
        args: ["--max-line-length=120", "--ignore-path=docs/_templates", "--ignore-path=docs/index.rst"]

  - repo: https://github.com/LilSpazJoekp/docstrfmt
    rev: 'v1.10.0'
    hooks:
      - id: docstrfmt
        args: ["--line-length", "120"]
        exclude: 'docs/_template'
        types_or: [rst]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: ["numpy >= 1.24", "typing_extensions >= 4.7", "pyside6 >= 6.8.2", "pyside6-stubs >= 6.7.3.0", "pint >= 0.21.1", "attrs >= 24.0"]
        args: ["--ignore-missing-imports"]

  - repo: https://github.com/fsfe/reuse-tool
    rev: v5.0.2
    hooks:
      - id: reuse-lint-file
        exclude: '^(?!CMakeLists\.txt$|.*\.(cmake|toml|py|cpp|hpp|qss)$)'
