language: generic

matrix:
  include:
    - os: linux
      sudo: required
      services: docker
      env:
        - image=debian:jessie
        - package=pairinteraction-install-linux.deb
      before_deploy: sudo chown travis:travis $TRAVIS_BUILD_DIR/build/$package
    - os: linux
      sudo: required
      services: docker
      env:
        - image=ubuntu:16.04
    - os: linux
      sudo: required
      services: docker
      env:
        - image=opensuse:13.2
        - package=pairinteraction-install-linux.rpm
      before_deploy: sudo chown travis:travis $TRAVIS_BUILD_DIR/build/$package
    - os: linux
      sudo: required
      services: docker
      env:
        - image=opensuse:13.2-w64
        - package=pairinteraction-install-windows-x86_64.exe
      before_deploy: sudo chown travis:travis $TRAVIS_BUILD_DIR/build/$package
    - os: osx
      osx_image: xcode8
      env:
        - package=pairinteraction-install-osx.dmg
      before_install:
        - wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh
        - chmod +x miniconda.sh && ./miniconda.sh -b -p /Users/travis/miniconda3 && export PATH=/Users/travis/miniconda3/bin:$PATH
        - conda update --yes conda
      install:
        - conda install --yes nomkl numpy scipy
        - pip install psutil pint pyqt5 git+https://github.com/pyinstaller/pyinstaller
        - brew install eigen gsl openmpi llvm swig python3
        - npm install -g fileicon
      before_script:
        - export CXX=/usr/local/opt/llvm/bin/clang++
        - export LDFLAGS="-L/usr/local/opt/llvm/lib -Wl,-rpath,/usr/local/opt/llvm/lib"
    - os: linux
      services: docker
      sudo: required
      env:
        - image=debian:doxygen
        - secure: "aCqMPi4dfP9U0KB0SYVSS1NzbYBxcIVvl58YCvL0Xpc/6tUGCY26/8SOk4g9WQJTkA4Nh0bE5WvjL4dWv5JaUVUles1vZCyp1UO4dH9z/2Q9CInhunnc1sqwQnqSAYM+VhbiG71We6pKwPUag1x+veQSaIZPDx/dBbhaPpnUeqwBRLmfuBz9Yzlx/SmIU/yvrxDgyC+1JQnmXyh86YWDAr0Chf4hCM6FA2WIs5d0yfmAXfaQJNIdjlKmxZ+/lLIaAneYOyHjGXyEallBibejtXzC9zGHBieU9sl4Hgh/7dTiE2tVaj1DW5o71mHupBZt1YQGLMBvVWD9DhSu9uEaKLONvY2lnAP5OLsmyv74cksDOlpGSqLd/EzAjNSUKAbDqO5AL/CfB9wL/aJsxONVzUXgCZlMZJacUl+kSWIqbugWwwjlzGCjUzC8SImawDD59XiBwUqKchPUsYFtcbGRUYF4amRN9TldxONDG6sORPQpeDqXTrCrBIIW5e7hOP0MSMOZWrtzJcHw/SwcJLpF99ghdiQBA1IHbgTSc1VOC91Hs3iol3KYuGS9kWBn0BvjJ/9Y3Lptqlo1c+wUYUBDSyDHyWKbonFM4X5FXd84C/umHEHN9kcqdgw0ddewpYDYbihT7160BFVYKaFh7cDDWNGSbPLNK7AGToTftHZrcbk="

script:
  - docker/build_docker.sh

deploy:
  provider: releases
  prerelease: true
  api_key:
    secure: PviVJljiUIuP3D6y3R+I3+COatdjbuOC/tWaEQoCZ6wdbJY1UaI+zAMNw8OcGW1H0CELH4xK7tBogTYTsnwSN7OgFkciElX2Q2lt4lF7VsP8WcVyfjESSmOVLi8AVrHlY7NOpHzmOEgIlOjlLmnH6sJBUQmxzW+tNSSZPTfTvr/W+Zr8zlt3DfI+wHw4S3QBcQ2kzx6aV8sgvufmRRGWo1yEAOzhseogY65LlP42hxFqmBc0kwkFCc9mB8VVCdDlw7zaBA6P1E+Y66GWFaRmEHZkv19wNv7gO30Iz/QnrejeTqkqkd4Nasr5IzHZTZCEO3UBPZe1K8E30c7pD+1ncva3+jiZLIfI/gs7Yl35fZhlLYCM4Xf4yO2kioaGX/HIcVcva2TL5YLepmaEqm4/0nGcrE5qARE1SRDicBpRx/ftUiWnv6OUUt4l7xqc9PglTjFQUGOPJIrhe3PUwKBMR9JB7EK0hFRK3publvRTgQocePYWc7Cs2JX8qkbStwTltRBx9Rzcm1Sbm9blnAFnI6Vco8jdS5dx4+zb8L7k0Szc22t2O6LrvwIDQQ4GwQ6K72qU9jI146tWh+UBO0xBCv2VNfvRlNb9ATzAKj5xMfq//llGoATKINiGa223MZlUSnMeOvXZ/OP7IXNOhzcOc7d1gdULT/aCtakC+mU+ruQ=
  file_glob: true
  file: $TRAVIS_BUILD_DIR/build/$package
  skip_cleanup: true
  #draft: true
  on:
    #all_branches: true
    tags: true
    condition: $package != ""
