language: generic

matrix:
  include:
    - os: linux
      sudo: required
      services: docker
      env:
        - image=debian:jessie
        - package=pairinteraction-install-linux.deb
      before_deploy: sudo chown travis:travis $TRAVIS_BUILD_DIR/build/$package
    - os: linux
      sudo: required
      services: docker
      env:
        - image=ubuntu:16.04
    - os: linux
      sudo: required
      services: docker
      env:
        - image=opensuse:13.2
        - package=pairinteraction-install-linux.rpm
      before_deploy: sudo chown travis:travis $TRAVIS_BUILD_DIR/build/$package
   #- os: linux
   #  sudo: required
   #  services: docker
   #  env:
   #    - image=opensuse:13.2-w64
   #    - package=pairinteraction-install-windows-x86_64.exe
   #  before_deploy: sudo chown travis:travis $TRAVIS_BUILD_DIR/build/$package
    - os: osx
      osx_image: xcode8
      env:
        - package=pairinteraction-install-osx.dmg
      before_install:
        - wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh
        - chmod +x miniconda.sh && ./miniconda.sh -b -p /Users/travis/miniconda3 && export PATH=/Users/travis/miniconda3/bin:$PATH
        - conda update --yes conda
      install:
        - conda install --yes nomkl numpy scipy
        - pip install psutil pint pyqt5 git+https://github.com/pyinstaller/pyinstaller
        - brew install eigen gsl llvm swig zeromq
        - npm install -g fileicon
      before_script:
        - export CXX=/usr/local/opt/llvm/bin/clang++
        - export LDFLAGS="-L/usr/local/opt/llvm/lib -Wl,-rpath,/usr/local/opt/llvm/lib"
    - os: linux
      services: docker
      sudo: required
      env:
        - image=debian:doxygen
  allow_failures:
  - os: osx

script:
  - docker/build_docker.sh

deploy:
  provider: releases
  prerelease: true
  api_key: $GH_TOKEN
  file_glob: true
  file: $TRAVIS_BUILD_DIR/build/$package
  skip_cleanup: true
  #draft: true
  on:
    #all_branches: true
    tags: true
    condition: $package != ""
