[build-system]
requires = [
    "scikit-build-core",
    "nanobind",
    "numpy",
    "pyqt5",
    "pydantic",
]
build-backend = "scikit_build_core.build"

[project]
name = "pairinteraction"
version = "0.9.10"
description = "A Rydberg Interaction Calculator"
readme = "README.md"
keywords = ["Rydberg atoms", "interactions", "pair potentials"]

authors = [
    { name = "Sebastian Weber" },
    { name = "Henri Menke" },
]

requires-python = ">=3.8"
dependencies = [
  "numpy ~= 1.22.3",
  "pint ~= 0.19.2",
  "pyinstaller ~= 5.13.1",
  "pyqt5 ~= 5.15.6",
  "pyqtgraph ~= 0.12.4",
  "scipy ~= 1.8.0",
  "wheel ~= 0.37.1",
  "pydantic  ~=  2.6.1",
]

classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Intended Audience :: Science/Research",
  "Topic :: Scientific/Engineering :: Physics",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Operating System :: MacOS",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: POSIX :: Linux",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
]

[project.urls]
Homepage = "https://www.pairinteraction.org"
Repository = "https://github.com/pairinteraction/pairinteraction"

[project.scripts]
start_pairinteraction_gui = "pairinteraction_gui.start_pairinteraction_gui:main"

[tool.scikit-build]
cmake.verbose = true
wheel.packages = ["pairinteraction", "pairinteraction_backend"]
wheel.py-api = "py3"

[tool.cibuildwheel]
build = [
  "cp39-manylinux_x86_64",
  "cp39-win_amd64",
  "cp39-macosx_x86_64",
]
build-verbosity = 1
test-command = [
  "python -c \"import pairinteraction\"",
  "python -c \"from pairinteraction_gui import app; assert type(app.version_program) is str\"",
]

[tool.cibuildwheel.windows]
before-all = "pip install delvewheel" # build-system.requires is unavailable in the build venv
repair-wheel-command = "delvewheel repair --ignore-in-wheel -w {dest_dir} {wheel}"

[tool.cibuildwheel.macos.environment]
MACOSX_DEPLOYMENT_TARGET = "10.15"

# Ruff Formatting configurations
[tool.ruff]
line-length = 120
target-version = "py38"
select = ["F", "E", "B", "C", "W", "I", "UP", "TID25"]
extend-ignore = ["E741", "C901", "B905"]
extend-include = ["*.ipynb"]

[tool.ruff.per-file-ignores]
"pairinteraction_gui/app.py" = ["E402"]

[tool.ruff.flake8-tidy-imports]
ban-relative-imports = "all"

[tool.sonar]
projectKey = "pairinteraction_pairinteraction"
organization = "pairinteraction"
python.version = 3
sources = ["pairinteraction", "pairinteraction_gui", "pairinteraction_backend"]
exclusions = "**/*.sql"
