name: C++ Backend

on:
  push:
    branches: ["*"]
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_call:
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 2
  VERBOSE: 1
  CLICOLOR_FORCE: 1

jobs:
  backend:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        distro: [debian, ubuntu, manylinux, opensuse, static-analysis]
        CXXFLAGS: ["-march=x86-64-v3"]
        TEST_TARGET: ["test"]
        BUILD_ARGS: ["-- --keep-going"]
        include:
          - distro: opensuse
            EXTRA_CMAKE_ARGS: -DCMAKE_CXX_COMPILER="g++-12"
          - distro: static-analysis
            EXTRA_CMAKE_ARGS: -DCMAKE_CXX_COMPILER="clang++" -DCMAKE_CXX_CLANG_TIDY="clang-tidy"
          - os: macos-13
            distro: macos
            name: macos-x86_64
            TEST_TARGET: "test"
            BUILD_ARGS: "-- --keep-going"
          - os: macos-14
            distro: macos
            name: macos-arm64
            TEST_TARGET: "test"
            BUILD_ARGS: "-- --keep-going"
          - os: windows-2019
            distro: windows
            EXTRA_CMAKE_ARGS: -G "Visual Studio 16 2019" -DPython3_FIND_REGISTRY=LAST
            CXXFLAGS: "/Ox /arch:AVX2"
            TEST_TARGET: "RUN_TESTS"
            BUILD_ARGS: "--config RelWithDebInfo"

    name: ${{ matrix.name || matrix.distro }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    env:
      CXXFLAGS: ${{ matrix.CXXFLAGS }}

    container:
      image: ${{ matrix.os == 'ubuntu-latest' && format('ghcr.io/pairinteraction/pairinteraction-{0}:docker', matrix.distro) || null }}

    steps:
    - uses: actions/checkout@v4

    - name: Install MacOS dependencies
      if: ${{ matrix.distro == 'macos' }}
      run: brew install --force-bottle spdlog eigen fmt lapack nlohmann-json tbb

    - name: Install Windows dependencies
      if: ${{ matrix.distro == 'windows' }}
      uses: ./.github/actions/setup-vcpkg

    - name: Setup uv build virtual environment
      uses: ./.github/actions/setup-uv-build-venv

    - name: Configure
      run: uv run --no-project cmake -S . -B build/ ${{ matrix.EXTRA_CMAKE_ARGS }}

    - name: Build
      run: cmake --build build/ ${{ matrix.BUILD_ARGS }}

    - name: Test
      run: cmake --build build/ --target ${{ matrix.TEST_TARGET }} ${{ matrix.BUILD_ARGS }}

    - name: Run debugging session in tmate
      if: github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled && always()
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
