name: macOS

on:
  push:
  pull_request:
    types: [opened, reopened]
  workflow_call:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false

# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
env:
  CMAKE_BUILD_PARALLEL_LEVEL: 3
  CTEST_PARALLEL_LEVEL: 3
  CTEST_OUTPUT_ON_FAILURE: 1
  VERBOSE: 1

jobs:
  macos:
    runs-on: macos-13
    env:
      package: pairinteraction-install-osx.dmg
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/cache@v4
        with:
          path: ~/Library/Caches/pairinteraction/database/
          key: pairinteraction-${{ github.job }}-${{ github.run_id }}
          restore-keys:
            pairinteraction-${{ github.job }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r requirements.txt

      - name: Install dependencies
        run: |
          brew install boost cereal doctest spdlog eigen fmt gsl lapack nlohmann-json cpp-httplib
          npm install -g fileicon

      - name: Configure
        run: cmake -S . -B build/ -DBUILD_TESTING=On -DWITH_DMG=On -DCPACK_PACKAGE_FILE_NAME="${package}" -DPython_FIND_FRAMEWORK=LAST
      - name: Build
        run: cmake --build build/ -- --keep-going
      - name: Test
        run: cmake --build build/ --target test -- --keep-going
        env:
          QT_QPA_PLATFORM: "offscreen"
          QT_DEBUG_PLUGINS: 1
      - name: Package
        run: |
          cmake --build build/ --target package -- --keep-going
          cmake --build build/ --target license -- --keep-going

      - name: Wheel
        run: |
          python setup.py bdist_wheel --python-tag py3 --plat-name macosx_11_0_x86_64
          wheel unpack dist/*.whl -d wheelhouse/
          chmod +x wheelhouse/*/pairinteraction_backend_old/pairinteraction-* wheelhouse/*/*.data/scripts/start_pairinteraction_gui
          cd wheelhouse/*/pairinteraction_backend_old
          python ../../../../extra/apple/standalone.py .libs binding.so pairinteraction-backend-deprecated
          cd ../../..
          wheel pack wheelhouse/* -d wheelhouse/
        working-directory: build/

      - name: Run debugging session in tmate
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled && always()
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.package }}
          path: build/${{ env.package }}
      - uses: actions/upload-artifact@v4
        with:
          name: pairinteraction-macos-wheel
          path: build/wheelhouse/*.whl
