name: pre-commit

on:
  push:
    branches: ["*"]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1
      - run: git diff --output=format.patch --exit-code || { cat format.patch; false; }
        if: failure()
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: format.patch
          path: format.patch
