name: Python Wheel

on:
  push:
    branches: ["*"]
    tags: ["v*.*.*"]  # and run on tags that describe new versions
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_call:
  workflow_dispatch:

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 2
  CMAKE_POLICY_VERSION_MINIMUM: 3.5
  CTEST_PARALLEL_LEVEL: 2
  CTEST_OUTPUT_ON_FAILURE: 1
  CLICOLOR_FORCE: 1
  VERBOSE: 1

jobs:
  sdist:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v4

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v4
      with:
        name: dist-sdist
        path: dist/*.tar.gz

  wheel:
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest # runs in container anyway
        - os: windows-2019
        - os: macos-13
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4

    - name: Log in to the Container registry
      if: runner.os == 'Linux'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Windows dependencies
      if: runner.os == 'Windows'
      uses: ./.github/actions/setup-vcpkg

    - name: Install macOS dependencies for x86_64
      if: ${{ matrix.os == 'macos-13' }}
      run: brew install --force-bottle spdlog nlohmann-json eigen tbb lapack fmt

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.5.15"
        enable-cache: true
        cache-dependency-glob: |
          ./pyproject.toml
          ./.build_requirements.txt

    - uses: pypa/cibuildwheel@v2.23
      env:
        CIBW_SKIP: ${{ !startsWith(github.ref, 'refs/tags/') && 'cp3{9,10,11}*' || '' }}

    - name: Install macOS dependencies for arm64 cross-compilation
      if: ${{ matrix.os == 'macos-13' }}
      run: |
        brew fetch --force --bottle-tag=arm64_ventura spdlog nlohmann-json eigen tbb lapack fmt openssl gcc
        brew reinstall $(brew --cache --bottle-tag=arm64_ventura spdlog nlohmann-json eigen tbb lapack fmt openssl gcc)

    - uses: pypa/cibuildwheel@v2.23  # Note: This will reuse the previously build stub files
      if: ${{ matrix.os == 'macos-13' }}
      name: Run pypa/cibuildwheel@v2.23 for macOS arm64
      env:
        CIBW_SKIP: ${{ !startsWith(github.ref, 'refs/tags/') && 'cp3{9,10,11}*' || '' }}
        CIBW_ARCHS_MACOS: 'arm64'

    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: dist-wheel-${{ matrix.os }}
        path: wheelhouse/*.whl

  test-with-downloaded-database:
    name: Test with macOS 14 and downloaded database
    runs-on: macos-14
    needs: [wheel]
    timeout-minutes: 15
    steps:
    - name: Download the wheel
      uses: actions/download-artifact@v4
      with:
        name: dist-wheel-macos-13
        path: dist

    - name: Install the wheel
      run: |
        python -m pip install --upgrade pip
        python -m pip install --find-links=dist pairinteraction[tests]

    - name: Execute a test that downloads the database and runs checks
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: pairinteraction --log-level INFO test

    - uses: actions/checkout@v4

    - name: Run all python tests including notebooks
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python -m pytest --nbmake --download-missing --database-dir=""

  test-install-from-sdist:
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest  # runs in container anyway
        - os: macos-13
        - os: windows-2019
    name: Test installing sdist on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    container:
      image: ${{ matrix.os == 'ubuntu-latest' && format('ghcr.io/pairinteraction/pairinteraction-ubuntu:docker') || null }}
    needs: [sdist]
    steps:
    - uses: actions/checkout@v4

    - name: Install Windows dependencies
      if: runner.os == 'Windows'
      uses: ./.github/actions/setup-vcpkg

    - name: Install macOS dependencies
      if: runner.os == 'macOS'
      run: brew install --force-bottle spdlog nlohmann-json eigen tbb lapack fmt

    - name: Setup uv project virtual environment
      uses: ./.github/actions/setup-uv-all-deps

    - name: Download the sdist
      uses: actions/download-artifact@v4
      with:
        name: dist-sdist
        path: dist

    - name: Install the sdist
      shell: bash
      run: uv pip install dist/*.tar.gz

    - name: Run pytest
      run: uv run --no-project pytest

  publish-to-testpypi:
    name: Publish to TestPyPI
    if: startsWith(github.ref, 'refs/tags/')  # only publish to TestPyPI on tag pushes
    needs: [sdist, wheel]
    runs-on: ubuntu-latest
    timeout-minutes: 15

    environment:
      name: testpypi
      url: https://test.pypi.org/p/pairinteraction

    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        path: dist
        pattern: dist-*
        merge-multiple: true

    - name: Publish distribution to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        packages-dir: dist/
        repository-url: https://test.pypi.org/legacy/
